body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Light Mode */

.card {
    width: 800px;
    height: 300px;
    background-color: rgb(243, 243, 243);
    margin: 80px auto;
    padding: 40px;
    border-radius: 20px;
}

h1 {
    font-weight: 600;
}
h1 span {
    color: rgb(108, 27, 184);
    font-weight: 700;
}

p {
    font-weight: 400;
    color: rgb(114, 114, 114);
}

button {
    padding: 10px 20px;
    border: none;
    background: rgb(118, 18, 212);
    color: white;
    margin: 20px 0;
    cursor: pointer;
    transition: 1s;
}

button span {
    font-weight: 600;
}

button:hover {
    background: rgb(213, 179, 245);
    color: rgb(95, 16, 168);
}

/* Dark Mode */

.purple-mode {
    background: rgb(50, 2, 95);
    color: white;
}

.card-purple {
    background: rgb(92, 22, 156);
    color: white;
}

.span-purple {
    color: burlywood;
}

.p-purple {
    color: rgb(199, 199, 199);
}